*.a
*.la
*.o
*.lo
dbus-cpp/Makefile
dbus-cpp/config.h
dbus-cpp/config.log
dbus-cpp/config.status
dbus-cpp/data/Makefile
dbus-cpp/dbus-c++-1-uninstalled.pc
dbus-cpp/dbus-c++-1.pc
dbus-cpp/dbus-c++-ecore-1-uninstalled.pc
dbus-cpp/dbus-c++-ecore-1.pc
dbus-cpp/dbus-c++-glib-1-uninstalled.pc
dbus-cpp/dbus-c++-glib-1.pc
dbus-cpp/doc/Doxyfile
dbus-cpp/doc/Makefile
dbus-cpp/examples/Makefile
dbus-cpp/examples/echo/.deps/
dbus-cpp/examples/echo/.libs/
dbus-cpp/examples/echo/Makefile
dbus-cpp/examples/echo/echo-client-glue.h
dbus-cpp/examples/echo/echo-client-mt
dbus-cpp/examples/echo/echo-server
dbus-cpp/examples/echo/echo-server-glue.h
dbus-cpp/examples/echo_ecore/.deps/
dbus-cpp/examples/echo_ecore/.libs/
dbus-cpp/examples/echo_ecore/Makefile
dbus-cpp/examples/echo_ecore/echo-client-glue.h
dbus-cpp/examples/echo_ecore/echo-client-mt
dbus-cpp/examples/echo_ecore/echo-server
dbus-cpp/examples/echo_ecore/echo-server-glue.h
dbus-cpp/examples/ecore/.deps/
dbus-cpp/examples/ecore/.libs/
dbus-cpp/examples/ecore/Makefile
dbus-cpp/examples/ecore/dbus_ecore
dbus-cpp/examples/ecore/dbus_ecore-glue.h
dbus-cpp/examples/glib/.deps/
dbus-cpp/examples/glib/.libs/
dbus-cpp/examples/glib/Makefile
dbus-cpp/examples/glib/dbus-browser
dbus-cpp/examples/glib/dbus-glue.h
dbus-cpp/examples/hal/.deps/
dbus-cpp/examples/hal/.libs/
dbus-cpp/examples/hal/Makefile
dbus-cpp/examples/hal/hal-listen
dbus-cpp/examples/properties/.deps/
dbus-cpp/examples/properties/.libs/
dbus-cpp/examples/properties/Makefile
dbus-cpp/examples/properties/propsgs-client
dbus-cpp/examples/properties/propsgs-glue-adaptor.h
dbus-cpp/examples/properties/propsgs-glue-proxy.h
dbus-cpp/examples/properties/propsgs-server
dbus-cpp/libdbus-c++.spec
dbus-cpp/libtool
dbus-cpp/src/.deps/
dbus-cpp/src/.libs/
dbus-cpp/src/Makefile
dbus-cpp/src/integration/Makefile
dbus-cpp/src/integration/ecore/.deps/
dbus-cpp/src/integration/ecore/.libs/
dbus-cpp/src/integration/ecore/Makefile
dbus-cpp/src/integration/glib/.deps/
dbus-cpp/src/integration/glib/.libs/
dbus-cpp/src/integration/glib/Makefile
dbus-cpp/stamp-h1
dbus-cpp/test/Makefile
dbus-cpp/test/functional/Makefile
dbus-cpp/test/functional/Test1/.deps/
dbus-cpp/test/functional/Test1/.libs/
dbus-cpp/test/functional/Test1/Makefile
dbus-cpp/test/functional/Test1/TestApp
dbus-cpp/test/functional/Test1/TestAppIntroPrivate.h
dbus-cpp/test/functional/Test1/TestAppIntroProviderPrivate.h
dbus-cpp/test/generator/.deps/
dbus-cpp/test/generator/.libs/
dbus-cpp/test/generator/Makefile
dbus-cpp/test/generator/dbuscxx_test_generator-client-glue.h
dbus-cpp/test/generator/dbuscxx_test_generator-server-glue.h
dbus-cpp/test/generator/dbuscxx_test_generator_client
dbus-cpp/test/generator/dbuscxx_test_generator_server
dbus-cpp/tools/.deps/
dbus-cpp/tools/.libs/
dbus-cpp/tools/Makefile
dbus-cpp/tools/dbusxx-introspect
dbus-cpp/tools/dbusxx-xml2cpp
